<div class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="logo">
          <a href="/"><%= image_tag 'logo.png', alt: '' %>  </a>
        </div><!-- end logo -->
      </div>
    </div><!-- end row -->
  </div><!-- end header-logo -->
</div><!-- end header -->